.exitbtn{
    background-color: gray;
	color:rgba(255, 255, 255, 200);
	border-radius: 5px;
	color:white ;
	font-size: 12px;
	font-weight: bold;
}
.exitbtn:hover{
    background-color:#E74C3C;
    font-size: 14px;
	font-weight: bold;
}
.exitbtn:pressed{
	padding-left: 5px;
	padding-top: 5px;
	background-color:rgba(255, 107, 107, 255);
	background-position: calc(100% - 10px)center;
}

